body,  div,  p { margin: 0; padding: 0;}
	ul { list-style: none;}
	html { /*overflow: hidden;*/}
	body { width: 100%;  *cursor: default;
	/*overflow: hidden; */font:1.5em "Microsoft YaHei", Helvetica, STHeiti STXihei, Microsoft JhengHei, Arial;}
	#pageContain { overflow: hidden;}
	.page { display: none; width: 100%; height: 130%; overflow: hidden; 
			position: absolute; top:52px; left: 0;
	}
	.contain { width: 100%; height: 100%; display: none; position: relative; z-index: 0;margin-top:2em;}
	.current .contain, .slide .contain { display: block;}
	.current { display: block; z-index: 1;}
	.slide { display: block; z-index: 2;}
	.swipe { display: block; z-index: 3; transition-duration: 0ms !important; -webkit-transition-duration: 0ms !important;}
	.page1 { background: url(../images/color7.png) no-repeat;background-size: cover;}
	.page2 { background: url(../images/color5.png) no-repeat;background-size: cover;}
	.page3 { background: url(../images/color17.png) no-repeat;background-size: cover;}
	.page4 { background: url(../images/color1.png) no-repeat;background-size: cover;}
	#navBar { z-index: 3; position: absolute; top: 30%; right: 3%;}
	#navBar .active { background: #ccc;}
	#navBar li { cursor: pointer; margin-bottom: 10px; transition: all .7s ease; border-radius: 50%; line-height: 40px; text-align: center; width: 40px; height: 40px;}
	